.card {
    margin: 10px auto;
    max-width: 400px;
    border-radius: 10px;
  }
  
  .card-title {
    font-size: 1.25rem;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .btn {
    font-size: 1rem;
    min-width: 40px;
  }
  
  span.mx-3 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  