<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #333338;">
    <div class="container p-4 pb-0">
        <!-- Section: Call to Action -->
        <section class="mb-4">
            <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0 font-weight-bold" style="font-size: 1.25rem;">Got a show? List your show today!</p>
                <a href="list-shows" class="btn btn-primary btn-lg">Contact today!</a>
            </div>
        </section>
        <!-- Section: Logos -->
        <section class="mb-4 icon-div">
            <div class="row">
                <div class="col-md-4 text-center mb-4">
                    <img src="../../../assets/images/support.png" alt="Customer Support" class="img-fluid">
                    <p class="mt-2">Customer Support</p>
                </div>
                <div class="col-md-4 text-center mb-4">
                    <img src="../../../assets/images/booking.png" alt="Resend Booking Confirmation" class="img-fluid">
                    <p class="mt-2">Resend Booking Confirmation</p>
                </div>
                <div class="col-md-4 text-center mb-4">
                    <img src="../../../assets/images/subscribe.png" alt="Subscribe to the Newsletter" class="img-fluid">
                    <p class="mt-2">Subscribe to the Newsletter</p>
                </div>
            </div>
        </section>
        <!-- Section: Links -->
        <section>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Little Bit About Us</h5>
                    <p>
                        BookMyShow was founded by Ashish Hemrajani, Parikshit Dar, and Rajesh Balpande, all alumni of Sydenham Institute of Management, Mumbai University. 
                        They had been working for J.W. Thompson, SPAR, and Chatterjee Soros Group, respectively. 
                        In 2007 they officially launched the BookMyShow website with the goal of introducing online movie ticketing to India.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Need any Help?</h5>
                    <ul class="list-unstyled gy-2">
                        <li><a href="#!" class="text-white text-decoration-none my-2">About Us</a></li>
                        <li><a href="#!" class="text-white text-decoration-none my-2">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Looking for Something?</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="/movies" class="text-white text-decoration-none">Movies</a></li>
                        <li><a href="/events" class="text-white text-decoration-none">Events</a></li>
                        <li><a href="/cinemas" class="text-white text-decoration-none">Cinemas</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <hr class="mb-4" />
        <!-- Section: Social media -->
        <section class="mb-4 text-center">
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
        </section>
    </div>
</footer>
<!-- End of Footer -->
